- if authenticated?
  %form{action: '/follow', method: 'post'}
    Follow
    %input{disabled: true, value: '@', id: 'at'}
    %input{name: 'user', id: 'user', autocomplete: 'off', value: params[:user]}
    for
    %input{name: 'days', id: 'days', autocomplete: 'off', value: params[:days]}
    days
    %input{type: 'submit', value: 'tmp/follow'}

  %ul
    - Unfollow.all(oauth_token: session[:oauth_token], oauth_token_secret: session[:oauth_token_secret]).each do |unfollow|
      %li
        @#{unfollow.user} will be unfollowed on #{unfollow.date.strftime("%A, %b #{unfollow.date.day.ordinalize}")}
- else
  %a{:href => '/auth/twitter'} Authenticate with Twitter
