!!! 5
%html
  %head
    %title tmp/follow
    %link{href: '/application.css', rel: 'stylesheet', type: 'text/css'}
    %meta{name: 'viewport', content: 'width=device-width; initial-scale=1.0; maximum-scale=1.0;'}
  %body
    = flashes

    %h1 tmp/follow
    %p Temporarily follow people on Twitter

    = yield

    - if authenticated?
      %p.account Authenticated as @#{session[:username]} (#{"<a href='/signout'>sign out</a>"}).

    %footer
      Made by Odin Dutton
