!!! 5
%html
  %head
    %title tmp/follow
    %link{href: '/application.css', rel: 'stylesheet', type: 'text/css'}
  %body
    = flashes

    %h1 tmp/follow
    %p Temporarily follow people on Twitter

    = yield

    %footer
      Made by Odin Dutton
